@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 80px;
    --marker-size: calc(var(--cell-size) * 0.9);
    --border-color-cell: black;
    --marker-color: rgb(0, 0, 0);
    --background-color: #FFF;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    align-items: center;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: var(--background-color);
    border: 1px solid var(--border-color-cell);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

.cell.x::after,
.cell.x::before {
    content: '';
    position: absolute;
    border-radius: 1rem;
    background-color: var(--marker-color);
    width: calc(var(--marker-size) * 0.2);
    height: calc(var(--marker-size));
}

.cell.x::after {
    transform: rotate(45deg);
}

.cell.x::before {
    transform: rotate(-45deg);
}

.cell.o::after,
.cell.o::before {
    content: '';
    position: absolute;
    background-color: var(--marker-color);
    border-radius: 50%;
    width: calc(var(--marker-size)*0.85);
    height: calc(var(--marker-size)*0.85);
}

.cell.o::after {
    background-color: var(--background-color);
    width: calc(var(--marker-size)*0.6);
    height: calc(var(--marker-size)*0.6);
}

.cell.x,
.cell.o {
    cursor: not-allowed;
}

.winning-message {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
}

.winning-message button {
    font-size: 3rem;
    padding: 10px 15px;
    border-radius: 1rem;
    border: 1px solid black;
    cursor: pointer;
}

.winning-message button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.winning-message.show {
    display: flex
}